<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/xzc8gk0ro1z3beph28zwvainplprcrf6dowpxy8lm94mnlkz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="../../css/zoomed.css">
    <title>Head Body Part</title>
</head>

<body>
    <nav>
        <h2><%= body.name %>'s <%= bodyPart%></h2>
        <div class = "navButtons">
            <a href="/bodies/new"><p id="addUser">Add New User</p></a>
            <a href="/"><p id="home">Home</p></a>
        </div>
    </nav>
    

    <section class="middleSection">
        <div id = "<%= bodyPart%>"></div>

        <% if(notes.length != 0){%>
        <div>
            <h3>Saved Notes</h3>
            <ul>
            <%for (i=0 ; i<notes.length ; i++) { %>
                <a href="/notes/<%= notes[i]._id%>/edit" name = "note" value = "<%= notes[i]%>"><li><%= notes[i].title%></li></a>
            <% } %>
            </ul>
        </div>
        <%}%>

        <div class="textArea">
            <% if(displayedMuscles.length != 0){%>
                <form action ="/bodies/<%= body._id%>/<%= bodyPart%>" method="POST">

                    <label for="title">Title:</label>
                    <input type="text" id = "title" name = "title" value= "Title" >
                    
                    <select class="custom-select" name="muscle">
                        <% displayedMuscles.forEach((muscle) => { %>
                          <option value="<%= muscle %>"><%= muscle %></option>
                        <% }) %>
                    </select>

                    <input type="hidden" name = "bodyPart" value ="<%= bodyPart%>">
                    <input type="hidden" name = "bodyId" value ="<%= body._id%>">

                    <textarea id="mytextarea" name = "text">This is your note taking area</textarea>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            <%}%>
        </div>

    </section>

    <% for(let i = 0 ; i< displayedMuscles.length; i++){ %> 
        <p class = "displayMuscle">The <%= displayedMuscles[i]%> is now on the body</p>
    <% } %> 

    <!-- if not empty then create a note -->
    <section class="allMuscleButtons">
        <% for(let i = 0 ; i< muscles.length; i++){ %> 
            <form action="/bodies/<%= body._id%>/<%= bodyPart%>?_method=PUT" method="POST">
                <button name="currentMuscle" type="submit" value="<%= muscles[i]%>"><%= muscles[i]%></button>
            </form>
        <% } %> 
    </section>

    <form action="/bodies/<%= body._id%>" method="get">
        <button type="submit">Back</button>
    </form>
            
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="../../javascript/noteTaking.js"></script>
</body>
</html>