<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/zoomed.css">
    <title>Zoomed</title>
</head>
<body>
    <h1>We are now viewing the zoomed in version of <%= bodyPart%></h1>
    <h2><%= bodyPart%></h2>
    <div id = "<%= bodyPart%>"></div>
    <% for(let i = 0 ; i< displayedMuscles.length; i++){ %> 
        <p>The <%= displayedMuscles[i]%> is now on the body</p>
    <% } %> 
<!-- if not empty then create a note -->
    <% for(let i = 0 ; i< muscles.length; i++){ %> 
        <form action="/bodies/<%= body._id%>/<%= bodyPart%>?_method=PUT" method="POST">
            <button name="currentMuscle" type="submit" value="<%= muscles[i]%>"><%= muscles[i]%>Button</button>
        </form>
    <% } %> 

</body>
</html>